
.upload-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.page-title {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.recent-up {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin-bottom: 0.5rem;
}

.span-1 {
  color: black;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}

.span-2 {
  color: #737373;
  font-size: 1rem;
  text-align: center;
}

@media (max-width: 500px) {
  .recent-up {
    transform: scale(0.8);
  }
  
}