.export-page {
    padding: 2rem;
    text-align: center;
    gap: 20rem;
  }
  .export-content {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
  }

  .page-title {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  
  .tabs-container {
    display: flex;
    justify-content: space-around;
    background-color: #f8f8f8;
    border-radius: 1rem;
    padding: 0.5rem;
    width: 80%;
    margin-bottom: 2rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.137);
  }
  
  .tab-button {
    flex: 1;
    background: transparent;
    border: none;
    padding: 0.4rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0.8rem;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    
  }
  
  .tab-button.active {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.137);
  }
  
  .view-analytics {
    color: #0c69b1eb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    gap: 0.4rem;
    font-weight: bold;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  .view-analytics:hover {
    transform: scale(1.1);
  }
  
  .download-description {

    font-size: 0.95rem;
    font-weight: 550;
  }
  
  .pdf-export-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1rem;
    background: #fff;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 550;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.137);
  }
  
  .pdf-export-box .left {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .pdf-export-box img {
    width: 40px;
  }

  .analytics-icon {
    width: 1.1rem;
    height: 1.1rem;
  }
  
  .download-icon {
    font-size: 1.5rem;
    color: #444;
    cursor: pointer;
  }
  
  .note-box {
    background-color: #ffcbac46;
    color: rgb(0, 0, 0);
    border: 1px solid rgba(133, 101, 4, 0.178);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    margin-top: 1rem;
    font-size: 0.9rem;
    width: 100%;
    text-align: left;
    max-width: 100%;
    word-wrap: break-word; /* Ensures long words break and wrap */
  overflow-wrap: break-word;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.137);
  }
  

